:root{
    --yellow : #ece255;
    --gray2 : #3c3c3c;
    --gray: #212529;
    --teks : rgb(226, 252, 255);
    --teks2 : #3d3d3d;
    --teks3 : #dcdcdc;    
    --dropfile :#454545;
    --gray1 : #535353;
    --gray2 : #3c3c3c;
    --white: #fff;
    --black1 : #000000;
    --black2 : rgba(20, 20, 20, 0.6);
    --red : #ff0000;
    --jingga : #f0954b;
    --bg1 : #141414;
    --bg2 : #a4a4a4;
    --bg3 : #4c4c4c;
}

.service{
    padding-top: 20vh;
    height: 100vh;
    background-color: var(--bg1);
    display: flex;
    justify-content: space-evenly;
}
.parallaxservice{
  display: flex;
  justify-content: space-around;
}
.textservice{
  width: 30%;
  color: rgb(206, 206, 206);
}
.textNotMove{
  opacity: 0;
}
.textmove{
  animation: movetext 1s ease;
  translate: 0 -10px 0;
}
@keyframes movetext {
  0%{
    opacity: 0;
    translate: 0 30px 0;
  }
  100%{
    opacity: 1;
    translate: 0 -10px 0;
  }
}




    .daftarskill{
        display: flex;
        justify-content: space-evenly;
    }
    .skillsactive{
        list-style: none;
    }
    .skillsactive li{
        color: var(--yellow);
        margin-bottom: 10px;
    }
    .rank{
        display: flex;
        justify-content: space-between;
        height: 30px;
        width: 15em;
        background-color: #a4a4a4;
    }
    .rankhtml, .rankcss,.rankjs,.rankrjs,.ranklrv,.rankphp,.rankmysql,.rankbs,.rankapi,.ranknjs{
        display: flex;
        justify-content: space-between;
        height: 30px;
        width: 15em;
        background-color: #a4a4a4;
        border-radius: 3px;
    }
    .textr{
        opacity: 0.6;
        color: var(--teks2);
        font-weight: 600;
        margin: 0px 5px;
    }
    .skillName div::before{
        border-radius: 3px;
    }
    .rankhtml::before{
        position: absolute;
        content: "";
        height: 30px;
        width: 13em;
        background: linear-gradient(to right, var(--jingga), var(--red));
        background-size: 15em;
        animation: skill1 4s ease;
    }
    .rankcss::before{
        position: absolute;
        content: "";
        height: 30px;
        width: 12em;
        background: linear-gradient(to right, var(--jingga), var(--red));
        background-size: 15em;
        animation: skill2 4s ease;
    }
    .rankjs::before{
        position: absolute;
        content: "";
        height: 30px;
        width: 11em;
        background: linear-gradient(to right, var(--jingga), var(--red));
        background-size: 15em;
        animation: skill3 4s ease;
    }
    .rankrjs::before{
        position: absolute;
        content: "";
        height: 30px;
        width: 10em;
        background: linear-gradient(to right, var(--jingga), var(--red));
        background-size: 15em;
        animation: skill4 4s ease;
    }
    .ranklrv::before{
        position: absolute;
        content: "";
        height: 30px;
        width: 7em;
        background: linear-gradient(to right, var(--jingga), var(--red));
        background-size: 15em;
        animation: skill5 4s ease;
    }
    .rankphp::before{
        position: absolute;
        content: "";
        height: 30px;
        width: 10.6em;
        background: linear-gradient(to right, var(--jingga), var(--red));
        background-size: 15em;
        animation: skill6 4s ease;
    }
    .rankmysql::before{
        position: absolute;
        content: "";
        height: 30px;
        width: 10em;
        background: linear-gradient(to right, var(--jingga), var(--red));
        background-size: 15em;
        animation: skill7 4s ease;
    }
    .rankbs::before{
        position: absolute;
        content: "";
        height: 30px;
        width: 10em;
        background: linear-gradient(to right, var(--jingga), var(--red));
        background-size: 15em;
        animation: skill8 4s ease-out;
    }
    .rankapi::before{
        position: absolute;
        content: "";
        height: 30px;
        width: 6em;
        background: linear-gradient(to right, var(--jingga), var(--red));
        background-size: 15em;
        animation: skill9 4s ease-out;
    }
    .ranknjs::before{
        position: absolute;
        content: "";
        height: 30px;
        width: 5em;
        background: linear-gradient(to right, var(--jingga), var(--red));
        background-size: 15em;
        animation: skill10 4s ease-out;
    }

    @keyframes skill1 {
        0%{
            width: 0em;
        }
        100%{
            width: 13em;
        }
        
    }
    @keyframes skill2 {
        0%{
            width: 0em;
        }
        100%{
            width: 12em;
        }
        
    }
    @keyframes skill3 {
        0%{
            width: 0em;
        }
        100%{
            width: 11em;
        }
        
    }
    @keyframes skill4 {
        0%{
            width: 0em;
        }
        100%{
            width: 10em;
        }
        
    }
    @keyframes skill5 {
        0%{
            width: 0em;
        }
        100%{
            width: 7em;
        }
        
    }
    @keyframes skill6 {
        0%{
            width: 0em;
        }
        100%{
            width: 10.6em;
        }
        
    }
    @keyframes skill7 {
        0%{
            width: 0em;
        }
        100%{
            width: 10em;
        }
        
    }
    @keyframes skill8 {
        0%{
            width: 0em;
        }
        100%{
            width: 10em;
        }
        
    }
    @keyframes skill9 {
        0%{
            width: 0em;
        }
        100%{
            width: 6em;
        }
        
    }
    @keyframes skill10 {
        0%{
            width: 0em;
        }
        100%{
            width: 5em;
        }
        
    }
    @media screen and (max-width: 800px) {
        .daftarskill{
            display: flex;
            justify-content: center;
        }
        .service::-webkit-scrollbar {
            display: none;
        }
          .service {
            display: block;
            padding-top: 10vh;
            -ms-overflow-style: none;  
            scrollbar-width: none;
            height: 70vh;
          }
          .textservice{
            display: flex;
            width: 100%;
            margin: 20px 0;
          }
          .textmove{
            font-size: 12px;
            margin: 5px;
          }
        }
    
    @media screen and (max-width: 600px) {
        .textr{
            line-height: 10px;
            font-size: 8px;
        }
        .daftarskill{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 1em;
        }
        .skillName div{
            height: 10px;
        }
        .skillName div::before{
            height: 10px;
        }
        
    }